@charset "utf-8";
/* CSS Document */

body{
    background-image:url(images/bg.gif);
    font-family:Comic Sans MS, Comic Sans;
    color:#FF0000;
    text-align:center;
}

marquee{
    color:#006600;
    font-size: 40px;
}

a:link, a:visited{
    color:#FFFFFF;
}
a:hover{
    font-weight:bold;
}